
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>
        HSC
        <ul>
            <li>Institute: Srijanee Bidyaniketan</li>
            <li>Year:   2019</li>
            <li>Group:  Science</li>
            <li>Result: 4.5</li>

        </ul>
    </li>
    <li>
        SSC
        <ul>
            <li>Institute: Srijanee Bidyaniketan</li>
            <li>Year:   2016</li>
            <li>Group:  Science</li>
            <li>Result: 4.75</li>
        </ul>
    </li>
</ul>
