@{
    ViewBag.Title = "Home Page";
}

<main>
    <h4>Landing page: </h4>
    <table>
        <tr>
            <th>Name: </th>
            <td>Athoy</td>
        </tr>
        <tr>
            <th>ID: </th>
            <td>20-43259-1</td>
        </tr>
        <tr>
            <th>Email: </th>
            <td>athoykanti@gmail.com</td>
        </tr>
        <tr>
            <th>Contact: </th>
            <td>01712345698</td>
        </tr>
    </table>
</main>