
@{
    ViewBag.Title = "Project";
}
<style>
    table {
        width: 100%;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<h2>Project</h2>

<table>
    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>OOP1</td>
        <td>Banking System</td>
        <td>Management with taka</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>Student Management</td>
        <td>Management student general System</td>
    </tr>
    <tr>
        <td>Webtech</td>
        <td>MyHome</td>
        <td>A Super Hostel Management system</td>
    </tr>
</table>