
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<ol>
    <li>B. Klaus and P. Horn, Robot Vision. Cambridge, MA, USA: MIT Press, 1986.</li>
    <li>
        A. Histace, “Image restoration—Recent advances and applications,” in Super-Resolution Restoration and
        Image Reconstruction for Passive Millimeter Wave Imaging. Rijeka, Croatia: InTech, 2012, pp. 25–45.
    </li>
</ol>

